{
  "extends": "airbnb",
  "rules": {
    "indent": [2, 4],                           # 4 spaces for indentation
    "react/jsx-indent": [2, 4],                 # 4 spaces for JSX indentation
    "max-len": [2, 120],                        # 120 max line length
    "no-underscore-dangle": 0,                  # Required for VideoJS
    "class-methods-use-this": 0,                # Needed to return JSX from React component methods
    "no-param-reassign": [2, {                  # Needed for modifying headers from apollo-client's createNetworkInterface
        "props": false
    }],
    "compat/compat": 2
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true,

  },
  "plugins": ["compat"],
}
